.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  height: auto;
  overflow: hidden;
}

.editBoxBody {
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.flexBox {
  display: flex;

  .flexItem {
    flex: 1;
  }
}

.black {
  color: #1f2d3d;
}

.el-icon-document {
  color: #1f2d3d;
}

#app {
  min-height: 600px;
}

.vue-html5-editor > .toolbar > .dashboard {
  position: static;
}

// 折叠面板重置

.el-collapse, .el-collapse-item__header, .el-collapse-item__wrap {
    background: #ffffff;
    border: none;
}

.el-collapse-item__wrap {
    padding-top: 20px;
    overflow: visible;
}

.el-collapse-item__content {
    padding: 0;
}

.el-collapse-item__header {
    padding: 0;
    font-size: 20px;
    color: #000000;
}

.el-collapse-item__header {
  font-size: 20px;
  color: #000000;
}

.line-bold {
    height: 9px;
    border-top: 1px solid #99A9BF;
    background: #F9F9F9;
    margin: 30px 0;
}

.clear {
    clear: both;
}


// 两排表单
.form-b {
    margin-top: 30px;

    .formStylePro {
        position: relative;
        width: 640px;
        margin: 0 auto;

        .ewm-b {
          display: block;
          width: 200px;
          height: 200px;
          margin: auto;
          cursor: pointer;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .baseInput {
        float: left;
        margin-bottom: 20px;

        &>span {
            float: left;
            width: 100px;
            font-size: 14px;
            color: #1F2D3D;
            line-height: 30px;
        }

        .input-box {
            float: left;
            width: 200px;

            input {
                height: 30px;
            }
        }
    }

    .bigB {
        .input-box {
            width: 540px;

            .el-select {
                width: 540px;
            }
        }

        .el-textarea {
          width: 540px;
        }
    }

    .rightF {
        float: right;
    }

    .width-box {
      width: 110%;
      overflow: hidden;
    }
}

// 更多按钮
.more-load {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 36px;
    cursor: pointer;

    &:hover {
      color: #20a0ff;
    }
}

.nav-hover {
  &:hover {
    color: #20a0ff;
  }
}

// 三排表单
.form-discount {
    min-height: 600px;
    padding: 80px 0 30px;

    .float-form-box {
      position: relative;
      width: 1000px;
      margin: auto;
    }

    .formDiscount {
        width: 1020px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        .formBox {
            margin: 0 20px 20px 0;

            .font-b {
              font-weight: bold;
            }

            &>span {
                float: left;
                width: 120px;
                font-size: 14px;
                color: #1F2D3D;
                line-height: 30px;
                height: 30px;
            }

            .btn-right-box {
              float: left;
              width: 180px;

              .el-tooltip {
                float: left;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                padding: 0 10px;
              }

              .btn-right {
                float: right;
                height: 30px;
                padding: 0 15px;
              }
            }

            .input-btn-box {
              float: left;
              width: 200px;

              .input-b {
                  float: left;
                  width: 140px;

                  .el-select {
                      width: 140px;
                  }

                  .el-autocomplete {
                    width: 140px;
                  }

                  input {
                      height: 30px;
                  }
              }

              .input-btn {
                float: right;
                height: 28px;
              }
            }

            .input-box {
                float: left;
                width: 200px;

                .el-select {
                    width: 200px;
                }

                input {
                    height: 30px;
                }
            }

            .logo-upload {
              width: 120px;
            }

            .el-textarea {
              width: 200px;
            }
        }

        .bigBigSpan {

            &>span {
                width: 160px;
            }

            .btn-right-box {
              width: 140px;
            }

            .input-btn-box {
              float: left;
              width: 160px;

              .input-b {
                  width: 100px;

                  .el-select {
                      width: 100px;
                  }

                  .el-autocomplete {
                    width: 100px;
                  }
              }
            }

            .input-box {
                width: 160px;

                .el-select {
                    width: 160px;
                }
            }

            .el-textarea {
              width: 160px;
            }
        }

        .bigF {
            .input-box {
                width: 880px;

                .el-select {
                    width: 880px;
                }
            }

            .el-textarea {
              width: 880px;
            }
        }

        .bigBigSpanF {
            .input-box {
                width: 840px;

                .el-select {
                    width: 840px;
                }
            }

            .el-textarea {
              width: 840px;
            }
        }

        .btnB {
          .input-box {
              width: 780px;

              .el-select {
                  width: 780px;
              }
          }

          .el-textarea {
            width: 780px;
          }

          .btn-box {
            float: left;
            width: 80px;
            height: 30px;
            margin-left: 20px;
            border-radius: 3px;
            background: #20a0ff;
            border: 1px solid #20a0ff;
            text-align: center;
            line-height: 30px;
            color: #ffffff;
            cursor: pointer;
          }

          .noClick {
            background: #eef1f6;
            border-color: #d1dbe5;
            color: #bfcbd9;
            cursor: not-allowed;
          }
        }

        .mapBox {
            .input-box {
              width: 540px;
              display: flex;

              .map-show-box {
                flex: 1;
              }

              .map-show-btn {
                margin-left: 10px;
              }
            }
        }

        .back-btn {
          float: right;
          margin-top: 10px;
          margin-left: 15px;
        }

        .save-btn {
          float: right;
          margin-top: 10px;
          margin-right: 20px;
          margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .static-box {
      .input-box {
        border-radius: 4px;
        border: 1px solid #bfcbd9;
        box-sizing: border-box;
        color: #1f2d3d;
        font-size: 14px;
        min-height: 30px;
        line-height: 24px;
        padding: 3px 10px;
      }

      .static-small-img {
        float: left;
        width: 120px;

        img {
          display: block;
          width: 100%;
        }
      }

      .static-img {
        float: left;
        width: 200px;

        img {
          display: block;
          width: 100%;
        }
      }
    }
}

// 增加按钮
.add-btn {
    position: absolute;
    right: 0;
    top: 7px;

    .el-button {
      margin-left: 10px;
    }
}

// 保存按钮
.save-btn {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

// 字数限制
.limit-box {
  float: right;
  text-align: right;
  line-height: 20px;
  font-size: 12px;

  a {
    color: red;
  }
}

// 空内容区域
.null-box {
  font-size: 20px;
  color: #333333;
  line-height: 200px;
  text-align: center;
}

.null-page {
  font-size: 14px;
  color: #999999;
  line-height: 120px;
  text-align: center;
}

.null-box-small {
  font-size: 14px;
  color: #999999;
  line-height: 30px;
  text-align: center;
}


.el-tabs__content {
  overflow: visible;
}

// 弹窗重置
.el-dialog--small {
  .el-select {
    width: 100%;
  }

  .el-autocomplete {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }
}

.el-dialog {
  top: 5% !important;
}

.el-form-item {
 margin-bottom: 10px;

 .el-input-number  {
  width: 100% !important;
 }
}

.el-dialog__body {
  padding-bottom: 10px;
}

// 图片自适应
.sou-box .cover-box,.card-box .card-img {
  display: block;
  overflow: hidden !important;
  background: #fefefe;

  img {
    position: relative !important;
    left: 50% !important;
    top: 0 !important;
    width: auto !important;
    min-width: 100% !important;
    height: 100% !important;
    transform: translateX(-50%);
  }
}

// 段落列表
.duan-list-box {
    margin: auto;

    .input-box {
        display: block;
        width: 800px;
        height: 50px;
        margin: 0 auto 30px;

        .input-search {
          float: left;
          width: 600px;
          height: 50px;
          appearance: none;
          font-size: 14px;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #bfcbd9;
          box-sizing: border-box;
          color: #1f2d3d;
          font-size: inherit;
          line-height: 1;
          outline: 0;
          padding: 3px 10px;
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 50px;
        }
    }

    .btn-input-box {
        position: absolute;
        right: 0;
        top: -50px;
        display: block;
        height: 30px;
        margin: 0 auto 30px;

        .el-input {
          float: left;
          width: 200px;
          height: 30px;

          input {
            font-size: 14px;
            height: 30px;
          }
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 30px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
        }
    }

    .no-add {
      width: 696px;
    }

    .big-cards-box {

      .card-btns {
        text-align: right;
        position: absolute;
        font-size: 16px;
        color: #000000;
        right: 10px;
        bottom: 23px;
      }

      .card-box {
        position: relative;
        display: block;
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: 1px solid #C0CCDA;
        margin-bottom: 20px;

        .card-img {
          float: left;
          width: 160px;
          height: 100px;
          background: #cfcfd0;

          img {
            display: block;
            width: 160px;
            height: 100px;
          }
        }

        .card-content {
          float: right;
          width: 820px;

          .card-title {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 3px;
          }

          .card-desc {
            font-size: 14px;
            line-height: 24px;
            color: #475669;
            height: 48px;
            overflow: hidden;
          }
        }
      }
    }
}

// 文字列表
.duan-font-box {
    margin: auto;

    .input-box {
        display: block;
        width: 800px;
        height: 50px;
        margin: 0 auto 30px;

        .input-search {
          float: left;
          width: 600px;
          height: 50px;
          appearance: none;
          font-size: 14px;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #bfcbd9;
          box-sizing: border-box;
          color: #1f2d3d;
          font-size: inherit;
          line-height: 1;
          outline: 0;
          padding: 3px 10px;
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 50px;
        }
    }

    .no-add {
      width: 696px;
    }

    .big-cards-box {

      .card-box {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-bottom: 1px solid #C0CCDA;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .card-content {
          flex: 1;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          text-align: justify;
        }

        .card-btns {
          margin-left: 15px;
          text-align: right;
          font-size: 16px;
          line-height: 16px;
          color: #000000;

          .list-btn {
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
}

.btn-color {
  cursor: pointer;
  color: #20a0ff !important;
}

// 小图文列表
.small-card-box {
  display: flex;
  cursor: pointer;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #C0CCDA;
  margin-bottom: 20px;
  padding-bottom: 10px;

  .check-box {
    margin-right: 10px;
  }

  .card-img {
    width: 120px;
    height: 80px;
    background: #cfcfd0;
    margin-right: 15px;
    overflow: hidden;

    img {
      position: relative;
      left: 50%;
      top: 0;
      width: auto;
      min-width: 100%;
      height: 100%;
      transform: translateX(-50%);
    }
  }

  .card-content {
    flex: 1;

    .card-title {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 3px;
    }

    .card-desc {
      font-size: 14px;
      line-height: 24px;
      color: #475669;
      height: 48px;
      overflow: hidden;
    }
  }

  .card-btns {
    text-align: right;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

    .el-icon {
      margin-left: 20px;

      &:hover {
        color: #999999;
      }
    }
  }
}

.page-box {
    margin-top: 10px;
}

// 图文列表
.card-list-box {
    position: relative;
    width: 1000px;
    margin: 80px auto 30px;

    .input-box {
        display: block;
        width: 800px;
        height: 50px;
        margin: 0 auto 30px;

        .input-search {
          float: left;
          width: 600px;
          height: 50px;
          appearance: none;
          font-size: 14px;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #bfcbd9;
          box-sizing: border-box;
          color: #1f2d3d;
          font-size: inherit;
          line-height: 1;
          outline: 0;
          padding: 3px 10px;
        }

        .search-btn {
          position: relative;
          float: left;
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          font-size: 16px;
          padding: 0 23px;
        }

        .add-new-btn {
            float: right;
            height: 50px;
        }
    }

    .no-add {
      width: 696px;
    }

    .dirSteps {
        border-left: 3px solid #20a0ff;
        padding-left: 8px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 25px;
        font-size: 16px;

        a {
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        a,span {
            color: #000000;
        }

        span.nowActive {
            color: #999999;
        }

        a.nowActive {
            color: #999999;
            cursor: unset;

            &:hover {
                opacity: 1;
            }
        }
    }

    .page-box {
        margin-top: 10px;
    }

    .btns-op {
        position: fixed;
        right: 10px;
        top: 160px;
        width: 43px;
        border: 1px solid #D3DCE6;
        border-radius: 3px;
        background: #F8FBFF;
        box-sizing: border-box;
        padding: 0 5px;
        text-align: center;
        line-height: 0;

        img {
            display: inline-block;
            margin: 13px 0;
            cursor: pointer;
            padding: 0 5px;

            &:hover {
                opacity: 0.7;
            }
        }

        .up-box {
            position: relative;
            height: 27px;

            img {
                display: block;
                width: 14px;
                height: 14px;
                margin: 13px auto;
                padding: 0;
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 27px;
                opacity: 0.01;
            }
        }

        .disable {
            opacity: 0.5;
            cursor: no-drop;
        }

        span {
            display: block;
            height: 1px;
            background: #D3DCE6;
        }
    }

    .is-active {
        color: #20A0FF;
    }

    .no-img {
        text-align: center;
        line-height: 160px;
        font-size: 20px;
        color: #999999;
    }

    .go-back {
        height: 30px;
        position: absolute;
        right: -30px;
        top: -38px;
        padding: 0 15px;
    }

    .check-box {
        position: relative;
        float: left;
        width: 170px;
        margin-right: 20px;
        margin-bottom: 20px;

        .select-box {
            position: absolute;
            left: 0;
            top: 0;
            width: 170px;
            height: 180px;
            cursor: pointer;
            z-index: 10;
            background: url(../../../assets/images/check-icon.png) 15px 15px no-repeat;

            &.active {
                background: url(../../../assets/images/check-now.png) 15px 15px no-repeat;
            }
        }
    }

    .sou-box {
        border: 1px solid #D3DCE6;
        border-radius: 3px;
        display: block;

        .cover-box {
            display: block;
            height: 130px;
            overflow: hidden;
            cursor: pointer;
            background: #f1f1f1;
            
            img {
                display: block;
                width: 100%;
                height: 130px;
            }
        }

        .title-box {
            padding: 5px 10px;
            border-top: 1px solid #D3DCE6;
            
            .title {
                display: block;
                font-size: 14px;
                line-height: 20px;
                border: none;
                color: #000000;
            }

            .time {
                display: block;
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                color: #999999;
            }

            .btn-box {
               float: right;
               font-size: 12px;
               color: #333333;
               margin-left: 5px;

               i, label {
                    cursor: pointer;
               }
            }
        }
    }

    .dir-box {
        background: #f0f0f0;
    }
}

// 目录样式
.source-box {
    position: relative;
    width: 1020px;
    min-height: 500px;
    margin: 80px auto 40px;

    .el-dialog--small {
        width: 490px;
    }

    .el-dialog__body {
        padding: 20px 20px 0 20px;

        .el-form-item {
            margin-bottom: 10px;
        }
    }

    .set-btn {
        position: absolute;
        right: 8px;
        top: 7px;
        width: 72px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        color: #20A0FF;
        border: 1px solid #20A0FF;
        border-radius: 3px;
        cursor: pointer;
        z-index: 1997;

        &:hover {
            opacity: 0.8;
        }
    }

    .btns-op {
        position: fixed;
        right: 10px;
        top: 160px;
        width: 43px;
        border: 1px solid #D3DCE6;
        border-radius: 3px;
        background: #F8FBFF;
        box-sizing: border-box;
        padding: 0 5px;
        text-align: center;
        line-height: 0;

        img {
            display: inline-block;
            margin: 13px 0;
            cursor: pointer;
            padding: 0 5px;

            &:hover {
                opacity: 0.7;
            }
        }

        .up-box {
            position: relative;
            height: 27px;

            img {
                display: block;
                width: 14px;
                height: 14px;
                margin: 13px auto;
                padding: 0;
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 27px;
                opacity: 0.01;
            }
        }

        .disable {
            opacity: 0.5;
            cursor: no-drop;
        }

        span {
            display: block;
            height: 1px;
            background: #D3DCE6;
        }
    }

    .dia-s-body {
        overflow: hidden;

        .select-item-box {
            float: left;
            height: 40px;
            font-size: 14px;
            color: #000000;
            line-height: 40px;
            margin-right: 15px;
            cursor: pointer;
            padding-left: 20px;
            background: url(../../../assets/images/radio-icon.png) left center no-repeat;
            background-size: 16px 16px;

            &.active {
                background: url(../../../assets/images/radio-now.png) left center no-repeat;
                background-size: 16px 16px;
            }
        }
    }

    .el-tabs__header {
        border: none;
    }

    .el-tabs__item {
        color: #000000;

        &:hover {
            color: #20A0FF;
        }
    }

    .is-active {
        color: #20A0FF;
    }

    .no-img {
        text-align: center;
        line-height: 160px;
        font-size: 20px;
        color: #999999;
    }
}

.image-su-box {
    position: relative;

    .page-box {
        margin-top: 10px;
    }

    .btn-input-box {
        position: absolute;
        right: 0;
        top: -50px;
        display: block;
        height: 30px;
        margin: 0 auto 30px;

        .add-new-btn {
            float: right;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
        }
    }

    .go-back {
        height: 30px;
        position: fixed;
        right: 10px;
        top: 100px;
        padding: 0 15px;
    }

    .check-box {
        position: relative;
        float: left;
        width: 170px;
        margin-right: 20px;
        margin-bottom: 20px;

        .select-box {
            position: absolute;
            left: 0;
            top: 0;
            width: 170px;
            height: 180px;
            cursor: pointer;
            z-index: 10;
            background: url(../../../assets/images/check-icon.png) 15px 15px no-repeat;

            &.active {
                background: url(../../../assets/images/check-now.png) 15px 15px no-repeat;
            }
        }
    }

    .sou-box {
        border: 1px solid #D3DCE6;
        border-radius: 3px;
        display: block;

        .cover-box {
            height: 130px;
            overflow: hidden;
            cursor: pointer;
            
            .cover-img {
                display: block;
                width: 100%;
                min-height: 130px;
            }
        }

        .media-play {
            position: relative;

            .bg-box {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 130px;
                background: #000000;
                opacity: 0.5;
            }

            .play-btn {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 80px;
                height: 80px;
                margin: -40px 0 0 -40px;
            }
        }

        .title-box {
            padding: 5px 10px;
            border-top: 1px solid #D3DCE6;
            height: 50px;
            box-sizing: border-box;
            
            .title {
                display: block;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                border: none;
                color: #000000;
            }

            .time {
                display: block;
                font-size: 14px;
                line-height: 20px;
                color: #999999;
            }

            .btn-box {
               float: right;
               font-size: 12px;
               color: #333333;
               margin-left: 5px;
               cursor: pointer;

               i, label {
                    cursor: pointer;
               }

               &:hover {
                color: #20A0FF;
               }
            }
        }
    }
}

.dia-check-body {
    overflow: hidden;

    .select-item-box {
        float: left;
        height: 40px;
        font-size: 14px;
        color: #000000;
        line-height: 40px;
        margin-right: 15px;
        cursor: pointer;
        padding-left: 20px;
        background: url(../../../assets/images/check-icon.png) left center no-repeat;
        background-size: 16px 16px;

        &.active {
            background: url(../../../assets/images/check-now.png) left center no-repeat;
            background-size: 16px 16px;
        }
    }
}

// 小表单
.form-small-box {
  overflow: hidden;

  .form-box {
    overflow: hidden;
  }

  .inForm {
    padding: 20px 0;
    border-top: 1px solid #99A9BF;

    &:nth-child(2) {
      padding-top: 0;
      border: none;
    }

    .item-title {
      width: 100%;
      font-size: 16px;
      color: #1F2D3D;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .inTwoForm {

    .formBox {
        margin-bottom: 20px;
        margin-right: 50px;

        &>span {
            float: left;
            width: 200px;
            font-size: 14px;
            color: #1F2D3D;
            line-height: 30px;
        }

        .input-box {
            float: left;
            width: 220px;

            input {
                height: 30px;
            }
        }
    }
  }
}